.toast {
    color: black !important;
    button {
        color: black;
    }
}

.item-detail-container {
    display: grid;
    margin: 2rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    img {
        width: 22rem;
    }
}